[mysqld]
server-id           = 1
log_bin             = mysql-bin
binlog_format       = ROW
binlog_do_db        = productsdb
sync_binlog         = 1
innodb_flush_log_at_trx_commit = 1
binlog_expire_logs_seconds = 604800   # 7 days
bind-address        = 0.0.0.0
